/* Created by: MariaG
* Created on: May 19, 2022
* This CSS file defines the style for index.html
* ICS2O-Unit5-02-HTML-ProductOfNumbers
*/

body {
  width: 80%;
  margin: 5% 10%;
  font-family: Helvetica, Arial, sans-serif;
}
